.carousel {
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* @media (min-width: 575px) {
    .carousel {
        width: 550px;
        height: 100%
    }
}

@media (min-width: 768px) {
    .carousel {
        width: 750px
    }
} */